.sponsor1 img {
    width: 500px;

}

.sponsor1 a {
    text-decoration: none;
    color: #F89D13
}

.sponsor2 img {
    width: 500px;
}

.sponsor2 a {
    text-decoration: none;
    color: #F89D13
}

.zoomSponsor {
    transition: transform .2s;
}

.zoomSponsor:hover {
    transform: scale(0.8);
}